<!DOCTYPE html>
<html>
  <head>
    <title>DeleteMyTweets</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="header">
      <% # render 'shared/nav' %>
      <% # render 'shared/mobile_menu' %>
    </div>
    <%= yield %>
  </body>
</html>
